<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/vendor/prism.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/normalize.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/assertions/main.css" type="text/css" media="screen" />
    </head>
    <body>
        <%- yield %>
        <script type="text/javascript" src="/vendor/prism.js"></script>
        <script type="text/javascript" src="/vendor/unexpected.js"></script>
        <script type="text/javascript" src="./evaluateExamples.js"></script>
    </body>
</html>
