{
    "sourceType": "script",
    "generatorOpts": {
        "retainLines": true
    },
    "env": {
        "development": {
            "presets": [
                [
                  "@babel/preset-env",
                  {
                      "useBuiltIns": "usage"
                  }
                ]
            ]
        },
        "test": {
            "presets": [
                [
                  "@babel/preset-env",
                  {
                      "useBuiltIns": "usage"
                  }
                ]
            ]
        }
    }
}
