{
  "extends": ["standard", "prettier"],
  "plugins": ["import", "mocha"],
  "env": {
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/test/**/*.js",
          "**/bootstrap-unexpected-markdown.js",
          "rollup.tests.js"
        ],
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "mocha/no-exclusive-tests": "error",
    "mocha/no-nested-tests": "error",
    "mocha/no-identical-title": "error"
  },
  "overrides": [
    {
      "files": ["documentation/**/*.md"],
      "plugins": ["markdown"],
      "rules": {
        // Some snippets reference variables from previous ones
        // but eslint-plugin-markdown lints them independently.
        // Disable the rules that this causes trouble with:
        "no-unused-vars": 0,
        "no-undef": 0
      },
      "parserOptions": {
        "sourceType": "script" // Otherwise globalReturn won't work, we use that for the async snippets
      }
    }
  ]
}
