<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/normalize.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/main.css" type="text/css" media="screen" />
    </head>
    <body>
        <%- yield %>
    </body>
</html>
