@headerColor: #591858;
@headerHeight: 40px;
@navWidth: 250px;

.layout() {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.layout-element() {
    .layout();
    position: absolute;
}

body {
    color: #333;
    background-color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

nav {
    ul {
        padding: 10px;
    }
    li {
        list-style: none;
    }
    li.active {
    }

    a {
        color: #333;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

header {
    .layout();
    height: @headerHeight;
    padding: 0;
    bottom: auto;
    color: white;
    background-color: @headerColor;
    z-index: 1;

    nav {
        padding: 0 20px;
        .layout-element();
        ul {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        li {
            display: block;
            float: left;
            margin: 0;
            padding: 10px;

            a {
                color: white;
                text-decoration: none;
            }
            a:hover {
                text-decoration: none;
            }
        }
        li:hover,
        li.active {
            background-color: lighten(@headerColor, 7%);
        }
    }
}

#assertion-menu {
    .layout();
    top: @headerHeight;
    right: auto;
    width: @navWidth;
    padding: 0 20px;
    overflow-y: auto;
}

.content {
    .layout();
    top: @headerHeight;
    padding: 0 20px;
    overflow-y: auto;
}

#assertions .content {
    left: @navWidth;
}

.evaluation {
    background-color: #f5f2f0;
    background-color: darken(#f5f2f0, 3%);
    padding: 16px 32px;
    margin-top: -11px;
    border-top: solid thin #E2E2E2;
    font-size: 0.8em;
    line-height: 1.3;
}