body {
  color: #333;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.15em;
}
#welcome-to-unexpected {
  margin-top: 0px;
  font-size: 1.6em;
  margin-bottom: 2px;
  color: black;
}
#the-extensible-bdd-assertion-toolkit {
  margin-top: 0px;
  margin-bottom: 27px;
  font-size: 1.15em;
  color: black;
}
nav ul {
  padding: 10px;
  margin: 0;
}
nav li {
  list-style: none;
}
nav a {
  color: #333;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav .active a {
  text-decoration: underline;
}
header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  padding: 0;
  bottom: auto;
  color: white;
  background-color: #162B34;
  z-index: 1;
}
header nav {
  padding-left: 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
header nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
header nav li {
  display: block;
  float: left;
  margin: 0;
  box-sizing: border-box;
  height: 40px;
}
header nav li a {
  color: white;
  text-decoration: none;
  padding: 10px 8px;
  display: inline-block;
}
header nav li a:hover {
  text-decoration: none;
}
header nav li:hover,
header nav li.active {
  background-color: #21404d;
}
header nav li:hover a,
header nav li.active a {
  text-decoration: none;
}
.has-sidebar .sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40px;
  right: auto;
  width: 330px;
  padding: 30px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.main {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.main:focus {
  outline: none;
}
.content {
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
  width: 790px;
}
.content > h1 {
  color: #8b8b8b;
  margin: 0;
  margin-bottom: 7px;
  font-size: 1.5em;
}
.content > .declarations {
  white-space: nowrap;
  overflow-x: auto;
  list-style: none;
  padding: 0;
  color: #646464;
}
.content img {
  max-width: 100%;
}
.has-sidebar .main {
  left: 330px;
}
.has-sidebar .main .content {
  margin: 27px 30px;
  width: auto;
}
.evaluation {
  background-color: #f5f2f0;
  background-color: #efeae7;
  padding: 16px 32px;
  margin-top: -11px;
  border-top: solid thin #E2E2E2;
  font-size: 0.8em;
  line-height: 1.3;
}
code {
  background-color: #f7f7f7;
  padding: 0 3px;
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.output,
.code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13.63636302948px;
  white-space: nowrap;
  line-height: 1.45;
  margin: 0.5em 0;
  padding: 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.code {
  background-color: #f7f7f7;
}
.output {
  background-color: #f3f3f3;
}
.theme-dark .code,
.theme-dark .output {
  background-color: black;
  color: white;
}
.theme-dark .code + .output {
  border-top: thin solid #333;
}
.code + .output {
  border-top: thin solid #ddd;
  margin-top: -0.5em;
}
.logo-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: none;
  background-image: url('bug-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}
.menu-toggle-item {
  display: none;
}
.sidebar h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
}
@media only screen and (max-width: 900px) {
  .search {
    display: none;
  }
  body {
    font-size: 0.9em;
  }
  .output,
  .code {
    font-size: 0.7em;
  }
  .content {
    width: auto;
    margin: 27px 30px;
  }
  .has-sidebar .sidebar {
    background-color: #030303;
    color: white;
    padding: 10px 0;
  }
  .has-sidebar .sidebar h3 {
    margin: 0;
    font-weight: bold;
    padding: 0;
    padding-left: 20px;
  }
  .has-sidebar .sidebar h3:hover {
    background-color: #1d1d1d;
  }
  .has-sidebar .sidebar h3.active {
    background-color: #292929;
  }
  .has-sidebar .sidebar a {
    display: block;
    color: white;
    padding: 9px 0;
  }
  .has-sidebar .sidebar a:hover {
    text-decoration: none;
  }
  .has-sidebar .sidebar .active a {
    text-decoration: none;
  }
  .has-sidebar .sidebar li a {
    padding-left: 35px;
  }
  .has-sidebar .sidebar li:hover {
    background-color: #1d1d1d;
  }
  .has-sidebar .sidebar li.active {
    background-color: #292929;
  }
  .has-sidebar .sidebar ul {
    margin: 0;
    padding: 0;
  }
  .has-sidebar .menu-toggle-item {
    display: initial;
  }
  .has-sidebar .menu-toggle {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: none;
    background-image: url('menu-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .has-sidebar .logo-icon {
    display: none;
  }
  .has-sidebar header nav {
    padding-left: 0;
  }
  .has-sidebar .main {
    left: 0;
  }
  .has-sidebar.sidebar-hidden .menu-toggle {
    transition: all 200ms;
    background-image: url('menu-icon.svg');
  }
  .has-sidebar.sidebar-hidden .sidebar {
    transition: all 200ms;
    transform: translateX(-100%);
  }
  .has-sidebar.sidebar-hidden .main {
    transition: all 200ms;
    transform: translateX(0);
  }
  .has-sidebar.sidebar-visible .menu-toggle {
    transition: all 200ms;
    transform: rotate(360deg);
    background-image: url('hide-menu-icon.svg');
  }
  .has-sidebar.sidebar-visible .sidebar {
    transition: all 200ms;
    transform: translateX(0%);
  }
  .has-sidebar.sidebar-visible .main {
    transition: all 200ms;
    transform: translateX(330px);
  }
  .github-ribbon {
    display: none;
  }
}
.search {
  color: black;
  position: absolute;
  top: 9px;
  right: 9px;
}
.search input {
  width: 200px;
}
.search .dropDown {
  position: absolute;
  visibility: hidden;
  top: 100%;
  min-width: 100%;
  right: 0;
  height: auto;
  background-color: white;
  border: thin solid gray;
  border-top: none;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
}
.search .dropDown ul {
  margin: 0;
  padding: 0;
}
.search .dropDown ul li {
  list-style: none;
  padding: 4px;
}
.search .dropDown ul li.active {
  background-color: #e6e6e6;
}
h2#badges {
  display: none;
}
h2#badges + p img {
  height: 20px;
}
