<nav id="assertion-menu" class="sidebar js-remember-scroll-position">
    <ul>
        <% Object.keys(assertionsByType).forEach(function (type) { %>
        <li>
            <h3><%= type %></h3>
            <ul>
                <% assertionsByType[type].forEach(function (assertion) { %>
                <li class="<%= '/' + path + '/' === assertion.url ? 'active' : '' %>">
                    <a href="<%= assertion.url %>"><%= assertion.title %></a>
                </li>
                <% }) %>
            </ul>
        </li>
        <% }) %>
    </ul>
</nav>
