<script type="text/javascript" src="<%= '/static/toggleSidebar.js' %>"></script>
<script type="text/javascript" src="<%= '/static/rememberScrollPosition.js' %>"></script>
<script type="text/javascript" src="<%= '/static/focusMain.js' %>"></script>
<script type="text/javascript" src="<%= '/static/search.js' %>"></script>
</body>
</html>
