<script type="text/javascript" src="<%= relative('/static/toggleSidebar.js') %>"></script>
<script type="text/javascript" src="<%= relative('/static/rememberScrollPosition.js') %>"></script>
</body>
</html>
