<% var hasSidebar = true; %>
<% include _header.ejs %>
<section id="assertions">
    <% include _assertions-menu.ejs %>
    <div class="main" tabindex="-1">
        <div class="content">
            <%- contents %>
        </div>
    </div>
</section>
<% include _footer.ejs %>
