<% var hasSidebar = true; %>
<% include _header.ejs %>
<section id="assertions">
    <button class="menu-toggle" onclick="toggleSidebar()"></button>
    <% include _assertions-menu.ejs %>
    <div class="main">
        <div class="content">
            <%- contents %>
        </div>
    </div>
</section>
<% include _footer.ejs %>
